<!DOCTYPE html>
<html >
<head>
    <title>index.com</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
    body{
        background-image: url(https://images.hdqwalls.com/wallpapers/war-thunder-military-aircraft-4k-qg.jpg);
        background-size: cover;
        backgroung-attachment: fixed;
    }
    
</style>
</head>

<body>

<center>
    <form action="/y_predict" method="POST">
        <h1 id="title" style="color: white;"> Aircraft Engine Failure Prediction. </h1>
</center>
           <br><br><br> <br>
                <div>&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;
                <input 
                       id="id"
                       name="id"
                       type="number"
                       step="any"
                       placeholder="Enter your id"
                       required
                />&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;
                <input
                       id="cycle"
                       name="cycle"
                       step="any"
                       type="number"
                       placeholder="Enter your cycle"
                       required/>
            </div>
            <br><span style="padding-left:1100px;"><b style="color: white;">{{ans}}</b></span>
            <div>&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;
                <input
                       id="setting1"
                       name="setting1"
                       step="any"
                       type="number"
                       placeholder="Enter your setting 1"
                       required
                />&ensp;&ensp;&ensp;
         
                <input
                       id="setting2"
                       step="any"
                       name="setting2"
                       type="number"
                       placeholder="Enter your setting 2"
                       required
                />&ensp;&ensp;&ensp;
       
                <input
                       id="setting3"
                       step="any"
                       name="setting3"
                       type="number"
                       placeholder="Enter your setting 3"
                       required
                />
            </div><br>
             <div>&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;
                <input
                       id="s1"
                       name="s1"
                       step="any"
                       type="number"
                       placeholder="Enter your s1"
                       required
                />&ensp;&ensp;&ensp;
                <input
                       id="s2"
                       name="s2"
                       step="any"
                       type="number"
                       placeholder="Enter your s2"
                       required
                />&ensp;&ensp;&ensp;
                <input
                       id="s3"
                       name="s3"
                       step="any"
                       type="number"
                       placeholder="Enter your s3"
                       required
                />
            </div>
            <br>
             <div>&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;
 
                <input
                       id="s4"
                       name="s4"
                       step="any"
                       type="number"
                       placeholder="Enter your s4"
                       required
                />&ensp;&ensp;&ensp;
         
                <input class="form-con"
                       id="s5"
                       name="s5"
                       step="any"
                       type="number"
                       placeholder="Enter your s5"
                       required
                />&ensp;&ensp;&ensp;
        
                <input
                       id="s6"
                       name="s6"
                       step="any"
                       type="number"
                       placeholder="Enter your s6"
                       required
                />
            </div><br>
             <div>&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;
            
                <input
                       id="s7"
                       name="s7"
                       type="number"
                       step="any"
                       placeholder="Enter your s7"
                       required
                />&ensp;&ensp;&ensp;
     
                <input
                       id="s8"
                       name="s8"
                       step="any"
                       type="number"
                       placeholder="Enter your s8"
                       required
                />&ensp;&ensp;&ensp;
    
                <input
                       id="s9"
                       name="s9"
                       step="any"
                       type="number"
                       placeholder="Enter your s9"
                       required
                />
            </div><br>
             <div>&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;
                <input
                       id="s10"
                       name="s10"
                       step="any"
                       type="number"
                       placeholder="Enter your s10"
                       required
                />&ensp;&ensp;&ensp;
           
                <input
                       id="s11"
                       name="s11"
                       step="any"
                       type="number"
                       placeholder="Enter your s11"
                       required
                />&ensp;&ensp;&ensp;
      
              
                <input
                       id="s12"
                       name="s12"
                       step="any"
                       type="number"
                       placeholder="Enter your s12"
                       required
                />
            </div><br>
             <div>&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;
          
                <input
                       id="s13"
                       name="s13"
                       step="any"
                       type="number"
                       placeholder="Enter your s13"
                       required
                />&ensp;&ensp;&ensp;
        
                <input
                       id="s14"
                       name="s14"
                       step="any"
                       type="number"
                       placeholder="Enter your s14"
                       required
                />&ensp;&ensp;&ensp;
                
                <input
                       id="s15"
                       step="any"
                       name="s15"
                       type="number"
                       placeholder="Enter your s15"
                       required
                />
            </div><br>
             <div>&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;
                <input
                       id="s16"
                       name="s16"
                       step="any"
                       type="number"
                       placeholder="Enter your s16"
                       required
                />&ensp;&ensp;&ensp;
        
                <input
                       id="s17"
                       name="s17"
                       step="any"
                       type="number"
                       placeholder="Enter your s17"
                       required
                />&ensp;&ensp;&ensp;
        
                <input
                       id="s18"
                       name="s18"
                       step="any"
                       type="number"
                       placeholder="Enter your s18"
                       required
                />
            </div><br>
             <div>&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;
                <input
                       id="s19"
                       name="s19"
                       step="any"
                       type="number"
                       placeholder="Enter your s19"
                       required
                />&ensp;&ensp;&ensp;
         
                <input
                       id="s20"
                       name="s20"
                       step="any"
                       type="number"
                       placeholder="Enter your s20"
                       required
                />&ensp;&ensp;&ensp;
       
          
                <input
                       id="s21"
                       name="s21"
                       step="any"
                       type="number"
                       placeholder="Enter your s21"
                       required
                />
            </div><br><br>
             <div>&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;
                &ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;<input
                       id="ttf"
                       name="ttf"
                       step="any"
                       type="number"
                       placeholder="Enter your ttf"
                       required
                />
            </div><br><br><br><br>
            <div style="padding-left: 900px" >
        <button style="border-radius:15px; background-color:#7FFF ;" type="submit" value="submit">Submit</button>
    </div>
  
    </form>

</body>
</html>

